@import "compass/css3";
@import "compass/css3/user-interface";
@import "rcm-utils";

$accentColor: #ED1C24;
$slideBColor: hsla(0, 0%, 13%, 1);

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	height: 100%;
	line-height: 1.42857143;
	padding: 0;
	width: 100%;

	*, *:after, *:before {
		@include box-sizing(border-box);
	}
}

.clc-main {
	@include display-flex;
	@include flex-direction(column);
	@include rcm-fill;
}

.clc-slide {
	@include flex(0 0 auto);

	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;

	&-image-descriptor {
		@include display-flex;
		@include flex-direction(column);

		border: 2px dashed;
		bottom: 12px;
		left: 12px;
		padding: 12px;
		position: absolute;
		width: calc(100% - 24px);

		&-title, &-message {
			@include flex(0 0 auto);

			position: relative;
			width: 100%;
		}

		&-title {
			font-family: 'proxima-nova', sans-serif;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 2px;
			text-transform: uppercase;
		}

		&-message{
			font-family: 'proxima-nova', sans-serif;
			font-size: 16px;
		}
	}
}

.clc-slide-a {
	$footerHeight: 68px;
	$coverColor: darken(desaturate($accentColor, 24%), 4%);

	@include display-flex;
	@include flex-direction(column);

	&-content {
		@include rcm-flex-center;
		@include flex(1 1 auto);

		height: 100%;
		position: relative;
		width: 100%;
		z-index: 5;

		&-background {
			@include rcm-fill;

			background-position: center;
			background-size: cover;
			z-index: 0;

			&-video {
				bottom: -9999px;
				left: -9999px;
				margin: auto;
				min-height: 100%;
				min-width: 100%;
				opacity: .125;
				position: absolute;
				right: -9999px;
				top: -9999px;
			}
		}
	}

	&-logo, &-cover-a-logo, &-cover-b-logo {
		margin-bottom: .5vw;
		position: relative;
		width: calc(42px + 28%);
		z-index: 5;
	}

	&-logo {
		&-c, &-r, &-u {
			fill: $slideBColor;
		}

		&-x {
			fill: $accentColor;
		}
	}

	&-tagline {
		color: $slideBColor;
		font-family: 'futura-pt', sans-serif;
		font-size: 1.5vw;
		font-weight: 700;
		height: 4vw;
		left: 0;
		letter-spacing: .48vw;
		line-height: 1.5vw;
		margin: auto;
		position: absolute;
		right: 0;
		text-align: center;
		text-transform: uppercase;
		top: calc(50% + 4.75vw);
		user-select: none;
		width: 31.25%;

		&-item {
			@include rcm-fill;

			pointer-events: none;
			user-select: none;
		}
	}

	&-signin-button, &-signup-button {
		cursor: pointer;
		position: absolute;
		top: 12px;
		height: 44px;
		width: 170px;

		&-text {
			@include rcm-flex-center;
			@include rcm-fill;

			color: hsla(0, 0%, 54%, 1);
			font-family: 'azo-sans-web', sans-serif;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 1.5px;
			z-index: 5;

			&-hovered {
				color: #FFF;
			}
		}

		&-background {
			@include rcm-fill;

			opacity: 0;
			z-index: 4;
		}

		&-outline {
			@include rcm-fill;

			z-index: 0;

			&-line {
				fill: none;
				stroke-width: 1px;
			}
		}
	}

	&-signin-button {
		right: 194px;

		&-background {
			background-color: hsla(0, 0%, 68%, 1);
		}

		&-outline-line {
			stroke: hsla(0, 0%, 68%, 1);
		}
	}

	&-signup-button {
		right: 12px;

		&-text {
			color: $accentColor;
		
			&-hovered {
				color: #FFF;
			}
		}

		&-background {
			background-color: $accentColor;
		}

		&-outline-line {
			stroke: $accentColor;
		}
	}

	&-footer {
		@include flex(0 0 auto);
		@include display-flex;
		@include align-items(center);

		background-color: $slideBColor;
		height: $footerHeight;
		padding: 12px;
		position: relative;
		width: 100%;
		z-index: 8;

		&-button {
			$buttonColor: desaturate(darken($accentColor, 0%), 8%);

			@include display-flex;
			@include flex-direction(column);
			@include flex(0 0 auto);

			background-color: $buttonColor;
			color: #FFF;
			cursor: pointer;
			height: 100%;
			margin-left: auto;

			&-text {
				@include flex(1 1 auto);
				@include display-flex;
				@include align-items(center);

				font-family: 'azo-sans-web', sans-serif;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 1.5px;
				padding: 0 24px;
				position: relative;

				i {
					font-size: 18px;
					margin-right: 4px;
					margin-left: -6px;
				}
			}

			&-hovered {
				background-color: #FFF;
				color: $buttonColor;
			}

			&-edge {
				@include flex(0 0 auto);

				background-color: darken(desaturate($buttonColor, 12%), 12%);
				height: 3px;
				position: relative;
				width: 100%;

				&-hovered {
					background-color: hsla(0, 0%, 78%, 1);
				}
			}
		}
	}

	&-cover-a {
		@include rcm-fill;
		@include rcm-flex-center;

		background-color: $coverColor; 
		overflow: hidden;
		z-index: 10;

		&-content {
			@include rcm-fill;
			@include rcm-flex-center;
		}

		&-spotter {
			@include border-radius(50%);

			background-color: #000;
			height: 8px;
			left: -4px;
			position: absolute;
			top: -4px;
			width: 8px;
			z-index: 10;
		}

		&-lines {
			@include rcm-fill;

			z-index: 7;

			path {
				stroke: #FFF;
				fill: none;
			}
		}

		&-logo {
			margin-bottom: $footerHeight;

			&-x {
				fill: #FFF;

				&-a, &-b {
					opacity: 0;
				}
			}
		}
	}

	&-cover-b {
		@include rcm-fill;
		@include rcm-flex-center;

		background-color: $slideBColor; 
		overflow: hidden;
		z-index: 6;

		&-content {
			@include rcm-fill;
			@include rcm-flex-center;
		}

		&-logo {
			margin-bottom: $footerHeight;

			&-c, &-r, &-u {
				fill: #FFF;
			}

			&-x {
				fill: $coverColor;
			}
		}
	}
}

.clc-slide-b {
	@include rcm-flex-center;

	background-color: $slideBColor;

	&-cloud {
		margin: auto;
		position: absolute;

		&-body {
			fill: #F5F5F5;
		}

		&-shading {
			fill: #EDEDED;
		}

		&-a {
			right: calc(16px + 6%);
			top: 20px;
			bottom: 0;
			height: calc(8px + 3.5%);
		}

		&-b {
			bottom: 0;
			height: calc(8px + 5.5%);
			right: calc(16px + 26%);
			top: calc(32% + 16px);
		}

		&-c {
			bottom: 0;
			height: calc(8px + 10%);
			right: calc(12px + 4%);
			top: calc(76% + 16px);
			z-index: 6;
		}
	}

	&-graphic {
		position: absolute;
		right: 0;
		bottom: 0;
		height: calc(96px + 55%);
		z-index: 4;

		&-mountain {
			fill: hsl(218, 1%, 36%);

			&-shading {
				fill: hsl(218, 2%, 30%);
			}
		}

		&-rock {
			$rockColor: $accentColor;

			fill: $rockColor;

			&-shading {
				fill: desaturate(darken($rockColor, 12%), 12%);
			}
		}

		&-man {
			fill: hsla(218, 6%, 38%, 1);

			&-shading {
				fill: hsla(218, 4%, 28%, 1);
			}

			&-shoes {
				fill: hsla(218, 6%, 36%, 1);
			}

			&-hands {
				fill: hsla(24, 54%, 82%, 1);
			}

			&-head {
				fill: hsla(24, 54%, 82%, 1);
			}

			&-nose {
				fill: hsla(24, 18%, 36%, 1);
			}

			&-hair {
				fill: hsla(32, 48%, 34%, 1);
			}

			&-tie {
				fill: #FFF;
			}
		}
	}

	&-message {
		color: hsla(0, 0%, 60%, 1);
		font-family: 'futura-pt', sans-serif;
		font-size: 5.25vw;
		font-weight: 500;
		padding: 36px;
		z-index: 5;
	}
}

.clc-slide-c {
	$slideColor: lighten(desaturate($accentColor, 28%), 4%);

	@include rcm-flex-center;

	background-color: $slideColor;

	&-headache {
		$headacheColor: desaturate(darken($slideColor, 6%), 10%);

		bottom: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: calc(16px + 70%);

		&-wrapper {
			@include rcm-fill;
			@include rcm-flex-center;
		}

		&-head {
			fill: $headacheColor;
		}

		&-ear-shading, &-nose-shading, &-lip-shading {
			fill: desaturate(darken($headacheColor, 2%), 1%);
		}

		&-bolt-a, &-bolt-b, &-bolt-c {
			fill: $headacheColor;
			opacity: 0;

			&-stroke {
				stroke: $slideColor;
				stroke-width: 6px;
				stroke-miterlimit: 8;
			}
		}
	}

	&-message {
		color: #FFF;
		font-family: 'futura-pt', sans-serif;
		font-size: 5.25vw;
		font-weight: 500;
		padding: 36px;
		text-align: center;
		z-index: 5;

		&-soft {
			display: inline;
			color: desaturate(lighten($slideColor, 32%), 6%);
		}
	}
}

.clc-slide-d {
	$slideColor: lighten(desaturate($accentColor, 28%), 4%);

	@include rcm-flex-center;

	background-color: hsla(0, 0%, 94%, 1);

	&-background {
		height: 100%;
		left: -9999px;
		margin: auto;
		position: absolute;
		right: -9999px;
		top: 0;
		z-index: 0;

		&-box {
			fill: hsla(0, 0%, 91.5%, 1);
		}

		&-light {
			fill: hsla(176, 30%, 98%, 1);
			opacity: 0;
		}
	}

	&-slouch {
		$tableColor: darken(desaturate($accentColor, 18%), 6%);
		$skinColor: hsla(26, 54%, 82%, 1);
		$hairColor: hsla(32, 48%, 34%, 1);
		$suitColor: hsla(218, 6%, 38%, 1);

		bottom: -.5vh;
		height: 66vh;
		left: calc(6px + 5%);
		position: absolute;
		z-index: 4;

		&-laptop-screen {
			fill: hsla(0, 0%, 32%, 1);
		}

		&-laptop-board {
			fill: hsla(0, 0%, 52%, 1);
		}

		&-laptop-light {
			opacity: 0;
		}

		&-head {
			fill: $skinColor;

			&-shading {
				fill: desaturate(darken($skinColor, 8%), 8%);
			}
		}

		&-neck {
				fill: desaturate(darken($skinColor, 16%), 8%);

		}

		&-hair {
			fill: $hairColor;

			&-shading {
				fill: desaturate(darken($hairColor, 8%), 8%);
			}
		}

		&-hand-a, &-hand-b {
			fill: $skinColor;
		}

		&-suit {
				fill: desaturate(darken($suitColor, 8%), 8%);

			&-shading {
			fill: $suitColor;
			}
		}

		&-table {
			fill: $tableColor;

			&-legs {
				fill: desaturate(darken($tableColor, 8%), 12%);
			}
		}

		&-chair {
			fill: $tableColor;

			&-legs {
				fill: desaturate(darken($tableColor, 10%), 8%);
			}
		}
	}

	&-message {
		color: hsla(0, 0%, 32%, 1);
		font-family: 'futura-pt', sans-serif;
		font-size: 5.25vw;
		font-weight: 500;
		padding: 36px;
		text-align: center;
		z-index: 5;
	}
}

.clc-slide-e {
	@include rcm-flex-center;

	cursor: url(../img/magnifying-cursor.png), pointer;
	background-color: hsla(198, 86%, 90.5%, 1);

	&-message {
		color: hsla(232, 14%, 44%, 1);
		font-family: 'futura-pt', sans-serif;
		font-size: 3.75vw;
		font-weight: 500;
		left: 0;
		line-height: 2.5vw;
		padding: calc(4.5% + 12px);
		position: absolute;
		text-align: center;
		top: 0;
		z-index: 7;
	}

	.clc-slide-image-descriptor {
		border-color: hsla(191, 32%, 74%, 1);

		&-title {
			color: hsla(204, 30%, 64%, 1);
		}

		&-message{
			color: hsla(204, 20%, 36%, 1);
		}
	}

	&-city {
		$waterHeight: 16.5%;

		bottom: #{$waterHeight};
		height: 100%;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 5;

		&-complete, &-reflection {
			height: 50%;
			left: -9999px;
			margin: auto;
			position: absolute;
			right: -9999px;
		}

		&-complete {
			bottom: 0;
			z-index: 5;
		}

		&-sky {
			@include rcm-fill;

			overflow: hidden;
			z-index: 4;

			&-reflection {
				@include transform(scaleY(-1));

				z-index: 8;
			}

			&-layer {
				height: 100%;
				left: 0;
				position: absolute;
				width: 100%;

				&-a {
					fill: hsla(198, 92%, 99%, 1);
					bottom: -6%;
					z-index:5;
				}

				&-b {
					fill: hsla(198, 90%, 96%, 1);
					bottom: 8%;
					z-index: 4;
				}

				&-c {
					fill: hsla(198, 88%, 93%, 1);
					bottom: 18%;
					z-index: 3;
				}
			}

			&-section {
				left: 0px;
				margin: auto;
				position: absolute;
				right: 0px;

				&-0 {
					bottom: -6%;
					height: 42%;
					left: -14%;
				}

				&-1 {
					bottom: -20%;
					height: 56%;
					left: -40%;
				}

				&-2 {
					bottom: 6%;
					left: 68%;
					height: 28%;
				}

				// ==

				&-3 {
					bottom: -6%;
					left: -12%;
					height: 46%;
				}

				&-4 {
					bottom: -8%;
					left: -44%;
					height: 44%;
				}

				&-5 {
					bottom: -8%;
					left: 72%;
					height: 44%;
				}

				// ==

				&-6 {
					bottom: -4%;
					left: -20%;
					height: 46%;
				}

				&-7 {
					bottom: 0%;
					left: -46%;
					height: 42%;
				}

				&-8 {
					bottom: -6%;
					left: 64%;
					height: 46%;
				}
			}
		}

		&-reflection {
			@include transform(scaleY(-1));

			bottom: -50%;
			opacity: .35;
			pointer-events: none;
			z-index: 9;

			&-gradient {
				@include background-image(linear-gradient(top, rgba(#afd3f3, 0) 20%,rgba(#afd3f3, .85) 100%));

				bottom: -#{$waterHeight};
				height: #{$waterHeight};
				left: -9999px;
				margin: auto;
				position: absolute;
				right: -9999px;
				z-index: 9;
			}
		}

		&-line {
			background-color: hsl(210, 20%, 64%);
			bottom: -1px;
			height: 2px;
			position: absolute;
			width: 100%;
			z-index: 6;
		}

		&-water {
			$waveAHeight: 5px;
			$waveBHeight: 5px;
			$waveCHeight: 5px;
			$waveDHeight: 5px;

			bottom: -#{$waterHeight};
			height: #{$waterHeight};
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 7;

			&-wave {
				@include display-flex;
				@include flex-direction(column);

				height: 100%;
				left: -100%;
				opacity: .325;
				position: absolute;
				top: 0;
				width: 200%;

				&-top {
					@include flex(0 0 auto);

					background-repeat: repeat-x;
					background-size: auto 100%;
					position: relative;
					width: 100%;
				}

				&-fill {
					@include flex(1 1 auto);

					height: 100%;
					position: relative;
					background-color: hsla(208, 60%, 56%, 1);
					width: 100%;
				}

				&-a &-top {
					background-image: url(../img/wave-a.svg);
					height: $waveAHeight;
					background-position: 16px 0;
					margin-top: #{1px - $waveAHeight};
				}

				&-b &-top {
					background-image: url(../img/wave-a.svg);
					height: $waveBHeight;
					background-position: 4px 0;
					margin-top: #{2px - $waveBHeight};
				}

				&-c &-top {
					background-image: url(../img/wave-a.svg);
					height: $waveCHeight;
					background-position: 12px 0;
					margin-top: #{3px - $waveCHeight};
				}

				&-d &-top {
					background-image: url(../img/wave-a.svg);
					background-position: 6px 0;
					height: $waveDHeight;
					margin-top: #{5px - $waveDHeight};
				}
			}
		}

		&-boat {
			@include transform(translateX(-100px));

			left: 0;
			position: absolute;

			&-spacer {
				height: 100%;
				position: relative;
				visibility: hidden;
			}

			&-base, &-reflection, &-water {
				background-size: 100% auto; 
				height: 100%;
				left: 0;
				position: absolute;
				width: 100%;
			}

			&-base {
				background-position: top; 
				top: 0;
				z-index: 5;
			}

			&-water {
				background-position: bottom; 
				bottom: 0;
				opacity: .2;
				z-index: 4;
			}

			&-reflection {
				@include transform(scaleY(-1));
				@include transform-origin(50%, 100%);

				opacity: .35;
				background-position: top; 
				z-index: 6;
			}

			&s {
				bottom: -#{$waterHeight};
				height: #{$waterHeight};
				left: 0;
				position: absolute;
				width: 100%;
				z-index: 9;
			}

			&-a {
				$break: 20%;

				top: -2vh;
				height: 4.25vh;
				z-index: 4;

				&-base, &-water, &-reflection {
					background-image: url(../img/boat-a.png);
				}

				&-base, &-reflection {
					height: #{100% - $break};
				}

				&-water {
					height: $break;
				}

				&-reflection {
					bottom: $break;
				}
			}

			&-b {
				$break: 16%;

				top: 6.25vh;
				height: 5vh;
				z-index: 9;

				&-base, &-water, &-reflection {
					background-image: url(../img/boat-b.png);
				}

				&-base, &-reflection {
					height: #{100% - $break};
				}

				&-water {
					height: $break;
				}

				&-reflection {
					bottom: $break;
				}
			}

			&-c {
				$break: 8%;

				top: 12.25vh;
				height: 2.25vh;
				z-index: 10;

				&-base, &-water, &-reflection {
					background-image: url(../img/boat-c.png);
				}

				&-base, &-reflection {
					height: #{100% - $break};
				}

				&-water {
					height: $break;
				}

				&-reflection {
					bottom: $break;
				}
			}

			&-d {
				$break: 19%;

				top: 2.25vh;
				height: 4vh;
				z-index: 7;

				&-base, &-water, &-reflection {
					background-image: url(../img/boat-d.png);
				}

				&-base, &-reflection {
					height: #{100% - $break};
				}

				&-water {
					height: $break;
				}

				&-reflection {
					bottom: $break;
				}
			}

			&-f {
				$break: 10%;

				top: 2.5vh;
				height: 2.25vh;
				z-index: 6;

				&-base, &-water, &-reflection {
					background-image: url(../img/boat-f.png);
				}

				&-base, &-reflection {
					height: #{100% - $break};
				}

				&-water {
					height: $break;
				}

				&-reflection {
					bottom: $break;
				}
			}

			&-g {
				$break: 12%;

				top: -.5vh;
				height: 4.25vh;
				z-index: 5;

				&-base, &-water, &-reflection {
					background-image: url(../img/boat-g.png);
				}

				&-base, &-reflection {
					height: #{100% - $break};
				}

				&-water {
					height: $break;
				}

				&-reflection {
					bottom: $break;
				}
			}

			&-h {
				$break: 2%;

				top: 9.25vh;
				height: 1vh;
				z-index: 8;

				&-base, &-water, &-reflection {
					background-image: url(../img/boat-h.png);
				}

				&-base, &-reflection {
					height: #{100% - $break};
				}

				&-water {
					height: $break;
				}

				&-reflection {
					bottom: $break;
				}
			}
		}

		&-balloon {
			position: absolute;
			top: calc(#{$waterHeight} + 24vh);
			left: 0;
			z-index: 10;
			width: .75vh;

			&-shade {
				fill: darken(desaturate($accentColor, 8%), 10%);
			}

			&-fill {
				fill: $accentColor;
			}

			&-shine {
				fill: lighten(desaturate($accentColor, 24%), 36%);
			}
		}

		&-wrapper {
			@include rcm-fill;

			overflow: hidden;
			z-index: 1;
		}
	}

	&-fog {
		@include rcm-fill;

		overflow: hidden;
		z-index: 6;

		&-fill {
			@include rcm-fill;

			background-color: hsla(204, 26%, 95%, .94);
			z-index: 0;
		}

		&-cloud {
			left: -9999px;
			margin: auto;
			position: absolute;
			right: -9999px;
			z-index: 5;
		}

		&-cloud-a {
			transform: translateX(3vh);
			top: 35vh;
			height: 26vh;
		}

		&-cloud-b {
			transform: translateX(-80vh);
			top: -5vh;
			height: 28vh;
		}

		&-cloud-c {
			transform: translateX(-34vh);
			top: 8vh;
			height: 34vh;
			z-index: 0;
		}

		&-cloud-d {
			transform: translateX(16vh);
			bottom: -2vh;
			height: 30vh;
			z-index: 0;
		}

		&-cloud-e {
			transform: translateX(-72vh);
			bottom: -2vh;
			height: 30vh;
			z-index: 0;
		}

		&-cloud-f {
			transform: translateX(60vh);
			top: -5vh;
			height: 26vh;
			z-index: 0;
		}

		&-cloud-g {
			transform: translateX(34vh);
			bottom: -4vh;
			height: 30vh;
		}

		&-cloud-h {
			transform: translateX(20vh);
			bottom: 10vh;
			height: 24vh;
			z-index: 3;
		}

		&-cloud-i {
			transform: translateX(62vh);
			top: 42vh;
			height: 24vh;
		}

		&-cloud-j {
			transform: translateX(-60vh);
			top: 44vh;
			height: 28vh;
		}

		&-cloud-k {
			transform: translateX(58vh);
			top: 48vh;
			height: 35vh;
			z-index: 4;
		}

		&-cloud-l {
			transform: translateX(58vh);
			top: 16vh;
			height: 34vh;
			z-index: 3;
		}

		&-cloud-m {
			transform: translateX(-24vh);
			top: -8vh;
			height: 34vh;
			z-index: 3;
		}

		&-cloud-n {
			transform: translateX(-72vh);
			top: 18vh;
			height: 38vh;
			z-index: 3;
		}
	}
}

.clc-slide-f {
	@include rcm-flex-center;

	background-color: rgb(28, 31, 46);

	&-message {
		bottom: -.75vw;
		color: hsla(232, 6%, 86%, 1);
		font-family: 'futura-pt', sans-serif;
		font-size: 3.75vw;
		font-weight: 500;
		line-height: 4.75vw;
		padding: calc(4.5% + 12px);
		position: absolute;
		right: 0;
		text-align: right;
		z-index: 7;
	}

	&-sky {
		position: absolute;
		top: 0;
		height: 100%;
		width: 105%;
		left: -2.5%;
		background-color: rgba(28,31,46,1);
		z-index: 3;

		&-light {
			@include background-image(linear-gradient(top, rgba(202,184,209,0) 0%,rgba(202,184,209, .92) 100%));

			bottom: 0;
			height: 45vw;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 6;
		}

		&-star {
			$size: .25vw;

			@include border-radius(50%);

			background-color: hsla(230, 8%, 85%, 1);
			position: absolute;
			top: #{$size / 2};
			left: #{$size / 2};
			height: $size;
			width: $size;
			z-index: 5;
		}
	}

	&-mountains {
		@include box-shadow(0 24vh 0 0 #10161C);

		bottom: -.5vw;
		left: -4%;
		position: absolute;
		width: 108%;

		&-wrapper {
			@include rcm-fill;

			z-index: 4;
		}
	}

	&-wandering-man {
		bottom: 0;
		position: absolute;
		right: 0;
		width: 12vw;
		z-index: 6;
	}
}

.clc-slide-g {
	background-color: #496B53;

	&-message {
		@include display-flex;
		@include align-items(center);

		font-family: 'futura-pt', sans-serif;
		font-size: 4.75vw;
		line-height: 5.75vw;
		font-weight: 500;
		color: #FFF;
		width: 30%;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		padding: calc(2% + 12px);
		z-index: 5;
	}

	&-workfloor {
		position: absolute;
		top: -112vh;
		left: 32vh;
		height: 172vh;
		z-index: 3;
	}

	&-foreground {
		@include rcm-fill;

		&-wrapper {
			@include rcm-fill;

			z-index: 4;
		}
	}

	&-table {
		position: absolute;
		bottom: -26vh;
		right: -25vh;
		height: 120vh;
		z-index: 4;
	}

	&-hand {
		position: absolute;
		bottom: -2vh;
		right: -12vh;
		height: 78vh;
		visibility: hidden;
		z-index: 6;
	}

	&-box {
		bottom: 16vh;
		height: 30vh;
		position: absolute;
		right: 36vh;
		visibility: hidden;
		z-index: 8;

		&-shadow {
			bottom: 13vh;
			height: 19vh;
			position: absolute;
			right: 36vh;
			visibility: hidden;
			z-index: 7;
		}
	}

	&-pipe {
		position: absolute;
		top: -104vh;
		width: 44vh;
		right: 28vh;
		z-index: 10;


		&-shadow {
			position: absolute;
			bottom: -56.5vh;
			right: 28vh;
			width: 164vh;
			z-index: 5;
		}
	}
}

.clc-slide-h {
	$slideColor: hsla(218, 32%, 44%, 1);

	@include rcm-flex-center;

	background-color: hsla(218, 32%, 44%, 1);

	&-message {
		@include display-flex;
		@include align-items(center);

		color: #FFF;
		font-family: 'futura-pt', sans-serif;
		font-size: 4.75vw;
		font-weight: 500;
		height: 100%;
		line-height: 5.75vw;
		padding: calc(2% + 12px);
		position: absolute;
		right: 0;
		text-align: right;
		top: 0;
		width: 30%;
		z-index: 5;

		&-text {
			position: relative;
		}
	}

	&-storescape {
		@include rcm-fill;

		&-content {
			position: absolute;
			top: -1004vmin;
			bottom: -1000vmin;
			left: -1016vmin;
			right: -1000vmin;
			margin: auto;
			width: 248vmin;
			z-index: 4;
		}

		&-wrapper {
			@include rcm-fill;

			z-index: 1;
		}
	}

	&-car {
		position: absolute;
		margin: auto;
		z-index: 5;

		&-striped-car {
			top: -1018vmin;
			bottom: -1000vmin;
			left: -1000.5vmin;
			right: -1000vmin;
			width: 8vmin;
		}

		&-blue-truck {
			top: -1018vmin;
			bottom: -1000vmin;
			left: -1000.5vmin;
			right: -1000vmin;
			width: 10vmin;
		}

		&-yellow-truck {
			top: -1018vmin;
			bottom: -1000vmin;
			left: -1000.5vmin;
			right: -1000vmin;
			width: 8vmin;
		}

		&-suv {
			top: -1018vmin;
			bottom: -1000vmin;
			left: -1002vmin;
			right: -1000vmin;
			width: 8vmin;
		}

		&-stationwagon {
			top: -1018vmin;
			bottom: -1000vmin;
			left: -1001.5vmin;
			right: -1000vmin;
			width: 15vmin;
		}
	}

	&-sky {
		@include rcm-fill;

		z-index: 2;

		&-cloud {
			bottom: -1000vmin;
			height: 12vmin;
			left: -1000vmin;
			margin: auto;
			position: absolute;
			right: -1000vmin;
			top: -1000vmin;
			// width: 14vmin;

			&-content {
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				z-index: 5;
			}

			&-shadow {
				bottom: 0;
				bottom: 0;
				left: 5%;
				margin: auto;
				position: absolute;
				width: 90%;
				z-index: 4;
			}
		}
	}

	&-product {
		@include display-flex;
		@include align-items(flex-start);
		@include justify-content(space-between);

		height: 36%;
		left: 8%;
		position: absolute;
		bottom: 0;
		width: 62%;
		z-index: 4;

		&-item {
			@include flex(0 0 auto);

			height: 16.5vmin;
			position: relative;

			&-binoculars {
				height: 12vmin;
				margin-top: 2vmin;
			}

			&-bread {
				padding: 1.5vmin 0;
			}

			&-book {
				padding: 1vmin 0;
			}

			&-turkey {
				height: 13vmin;
				margin-top: 1vmin;
			}

			&-dead-fish {
				height: 8vmin;
				margin-top: 4.5vmin;
			}

			&-car-battery {
				height: 16vmin;
				margin-top: .25vmin;
			}

			&-batteries {
				height: 14vmin;
				margin-top: 2vmin;
			}

			&-hats {
				height: 14vmin;
				margin-top: .5vmin;
			}

			&-cat-b {
				height: 15vmin;
			}

			&-lunch {
				height: 14vmin;
				margin-top: 1vmin;
			}
		}
	}

	&-overlay-effects {
		@include rcm-fill;

		pointer-events: none;
		z-index: 6;
	}

	&-underlay-effects {
		@include rcm-fill;

		pointer-events: none;
		z-index: 3;
	}
}

.clc-slide-i {
	@include flex-direction(column);
	@include rcm-flex-center;

	background-color: #FFF; 
	// background-color: hsla(0, 0%, 12%, 1);

	&-background {
		@include rcm-fill;

		background-image: url(../img/slide-j-background-tile.svg);
		background-position: center;
		background-size: 20% auto;
		opacity: .035;
		background-repeat: repeat;
		z-index: 0;
	}

	&-content {
		@include flex(0 0 auto);
		@include display-flex;
		@include align-items(center);

		position: relative;
	
		&-message {
			@include flex(0 0 auto);

			// color: hsl(33, 14%, 34%);
			color: hsla(0, 0%, 32%, 1);
			text-align: right;
			font-family: 'futura-pt', sans-serif;
			font-size: 4vw;
			line-height: 4.75vw;
			z-index: 5;

			&-word {
				display: inline;
			}

			&-highlight {
				color: $accentColor;
				display: inline;
				font-weight: 500;
			}
		}

		&-divider {
			@include flex(0 0 auto);

			height: 100%;
			width: .3vw;
			height: 8.5vw;
			margin: 0 1.5vw;
			background-color: hsla(0, 0%, 32%, 1);
			position: relative;
		}

		&-form {
			@include display-flex;

			height: 3vw;
			width: 40vw;

			&-input, &-button {
				height: 100%;
				position: relative;
			}

			&-input {
				@include flex(1 1 auto);
				
				border: .3vw solid hsla(0, 0%, 32%, 1);
				border-right-width: 0vw;

				&-input, &-placeholder {
					@include rcm-fill;

					padding: 0 .65vw;
					font-family: 'proxima-nova', sans-serif;
					font-size: 1.35vw;
					font-weight: 400;
				}

				&-input {
					border: none;
					color: hsla(0, 0%, 32%, 1);
					outline: none;
					z-index: 5;
				}

				&-placeholder {
					@include display-flex;
					@include align-items(center);

					color: hsla(0, 0%, 32%, .5);
					pointer-events: none;
					z-index: 6;
				}
			}

			&-button {
				@include align-items(center);
				@include display-flex;

				background-color: $accentColor;
				color: #FFF;
				cursor: pointer;
				font-family: 'proxima-nova', sans-serif;
				font-size: .9vw;
				font-weight: 600;
				letter-spacing: .2vw;
				padding: 0 1.5vw;

				&-hovered {
					background-color: hsla(0, 0%, 32%, 1);
					color: $accentColor;
				}
			}
		}
	}
}

.clc-slide-footer {
	@include flex(0 0 auto);
	@include display-flex;
	@include align-items(center);

	padding: calc(12px + 1.5%);
	height: 8vw;
	background-color: hsla(0, 0%, 20%, 1);
	overflow: hidden;
	position: relative;
	width: 100%;

	// add a pointer
	&-left {
		@include display-flex;
		@include flex(1 1 auto);
		@include flex-direction(column);
		@include justify-content(space-between);
		
		height: calc(100% + 6px);
		position: relative;
	}

	&-social, &-message {
		@include flex(0 0 auto);

		position: relative;
		width: 100%;
	}

	&-social {
		@include display-flex;
		@include align-items(center);
		@include flex-wrap(nowrap);

		height: 1.5vw;

		&-button {
			@include flex(0 0 auto);

			color: #FFF;
			display: block;
			font-size: 2.25vw;
			margin-right: 2.25vw;
			opacity: .75;
			position: relative;
		}
	}

	&-message {
		color: #FFF;
		font-family: 'futura-pt', sans-serif;
		font-size: 1.15vw;
		line-height: 1.15vw;
	}

	&-logo {
		@include flex(0 0 auto);

		position: relative;
		height: 100%;

		&-letters {
			fill: hsla(0, 0%, 100%, .98);
		}

		&-x {
			fill: $accentColor;
		}
	}
}

